## Importar las librerías

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Leer fichero de datos tipo CSV (Comma-Separated Values)
Existen varias funciones para leer ficheros de datos en un DataFrame:
* pd.read_csv(): Read CSV (comma-separated values) file
* pd.read_excel(): Read an EXCEL table
* pd.read_sql_table(): Read an SQL TABLE
* pd.read_sql_query(): Read an SQL QUERY
* pd.read_json(): Read a JSON file

### Leer fichero de datos CSV en un DataFrame

In [ ]:
#df = pd.read_csv('../datasets/Barcelona-ClimateData.csv')
#df = pd.read_csv('../datasets/barcelona-weather/Barcelona-ClimateData.csv', low_memory=False)
df = pd.read_csv('../datasets/barcelona-weather/Barcelona-Weather.csv', parse_dates = ['DATE'], low_memory=False)

## Análisis preliminar de los datos importados

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.count()

In [ ]:
df.head()

In [ ]:
df.tail()

## Consultando Datos (Data Query)
Existen varios métodos:
* df[column_indexer]
* df.loc[row_indexer, column_indexer] para la selección por nombre
* df.iloc[row_indexer, column_indexer] para la selección por número

### Seleccionar COLUMNAS de un DataFrame

In [ ]:
#subset = df['TMIN']
#subset = df[df.columns[2]]
subset = df[['NAME', 'DATE', 'PRCP', 'TMAX', 'TMIN']]

In [ ]:
subset.head()

In [ ]:
subset.shape

### Seleccionar FILAS de un DataFrame

In [ ]:
#subset = df.loc[10000]
#subset = df.loc[df.shape[0]-1]
#subset = df.loc[10000:10002]

In [ ]:
filtro = df['NAME'] == 'BARCELONA, SP'
subset2 = subset[filtro]

In [ ]:
subset2.shape

In [ ]:
subset2.head()

In [ ]:
subset2.tail()

In [ ]:
subset3 = subset2.dropna()

In [ ]:
subset3.shape

### Seleccionar FILAS y COLUMNAS de un DataFrame

## Visualización en un mapa
* Barcelona (Aeropuerto): https://goo.gl/maps/ukgXP4Ni4A82

* Barcelona (Observatorio Fabra): https://goo.gl/maps/3QJeRVKzo522

In [ ]:
#subset = df.loc[10000, ['NAME', 'TAVG', 'TMAX', 'TMIN']]
subset = df.loc[10000:10002,['NAME', 'TAVG', 'TMAX', 'TMIN']]

In [ ]:
subset

## Agrupando Datos (Grouping Data)

In [ ]:
df.groupby(['NAME']).mean()
#df.groupby(['NAME'])['TAVG'].mean()
#df.groupby(['NAME']).count()
#df.groupby(['NAME', 'DATE']).mean()

In [ ]:
df.groupby(['NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION']).mean()

In [ ]:
df.groupby(['NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION']).count()

## Limpieza de Datos

Podemos destacar las siguientes funciones:
* df.drop(labels, axis=0, inplace=True): Elimina las filas indicadas
* df.drop(labels, axis=1, inplace=True): Elimina las columnas indicadas
* df.dropna(inplace=True): Elimina las filas con algún valor nulo
* df.dropna(how='all', inplace=True): Elimina las filas con todos los valores nulos

### Eliminar Columnas de un DataFrame

In [ ]:
df.columns

In [ ]:
df.drop(['STATION', 'PRCP', 'PRCP_ATTRIBUTES', 'SNWD', 'SNWD_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES', 'TMAX_ATTRIBUTES', 'TMIN_ATTRIBUTES'], axis=1, inplace=True)

In [ ]:
df.columns

In [ ]:
df.tail()

### Eliminar Filas con valores nulos (NaN)

In [ ]:
df.shape

In [ ]:
df.count()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.shape

In [ ]:
df.count()

In [ ]:
df.tail()

In [ ]:
df.groupby(['NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION']).count()

## Manipulación de Datos

### Dividir Datos

In [ ]:
fil = df['NAME'] == 'BARCELONA, SP'
dfa = df.where(fil)
dfa.count()

In [ ]:
fil = df['NAME'] == 'BARCELONA AEROPUERTO, SP'
dfb = df.where(fil)
dfb.count()

### Concatenar Datos

In [ ]:
dfc = pd.concat([dfa, dfb])
dfc.count()

### Unir (Merge)

## CONTINUACIÓN

In [ ]:
(df['LATITUDE'] != 41.2928) & (df['LONGITUDE'] != 2.0697)

In [ ]:
df['LONGITUDE'] != 2.0697

In [ ]:
df.set_index('LONGITUDE')

In [ ]:
s = df['NAME']

In [ ]:
s.unique()

In [ ]:
df.groupby(by=['NAME']).mean()

In [ ]:
df.dropna()

In [ ]:
df.groupby(by=['NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION']).mean()

In [ ]:
df.count()

In [ ]:
df.groupby(by=['NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION']).count()

In [ ]:
df.columns

In [ ]:

df2 = df

In [ ]:
df.shape

In [ ]:
df2.shape

In [ ]:
df2.count()

In [ ]:
df2.groupby(by=['NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION']).count()

In [ ]:
df2.groupby(by=['NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION']).mean()

In [ ]:
df3 = df2.dropna(axis=0, how='any')

In [ ]:
df3.count()

In [ ]:
df3.groupby(by=['NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION']).count()

In [ ]:
df3.groupby(by=['NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION']).mean()

In [ ]:
df3.head()

In [ ]:
df3.tail()

In [ ]:
cf = df3['NAME'] == 'BARCELONA, SP'

In [ ]:
dff = df3.where(cf)

In [ ]:
dff.count()

In [ ]:
ca = df3['NAME'] == 'BARCELONA AEROPUERTO, SP'
dfa = df3.where(ca)
dfa = dfa.dropna()

In [ ]:
dfa.count()

In [ ]:
dfa.head()

In [ ]:
plt.plot(dfa['DATE'],dfa['TMAX'])

In [ ]:
plt.show()

In [ ]:
a = subset3['DATE'].iloc[2000]
type(a)

In [ ]:
a.year

In [ ]:
subset3.head()

In [ ]:
subset3['YEAR'] = subset3['DATE'].map(lambda x: x.year)

In [ ]:
subset3.tail()

In [ ]:
dfa_anual = subset3.groupby(by=['NAME', 'YEAR'], as_index=False).mean()

In [ ]:
dfa_anual.tail()

In [ ]:
dfa_anual.columns

In [ ]:
plt.plot(dfa_anual['YEAR'], dfa_anual['TMAX'])
plt.plot(dfa_anual['YEAR'], dfa_anual['TMIN'])

In [ ]:
first_ten = zip(dfa_anual['YEAR'][0:10], dfa_anual['TMIN'][0:10])

In [ ]:
for x,y in first_ten:
    print(x,y)